$link-blue: #039be5;
$powder-blue: lighten($link-blue, 52);
$color_wild_sand_approx: #f5f5f5;
$midnight-blue: #022744;
$dark-gray: #444;
$med-gray: #777;
$light-gray: #ddd;
$xtra-light-gray: #f3f3f3;
$white: #fff;
$forest: #093;
$slategray: #708090;
$slategray-lighten: mix(white, $slategray, 75%);
$pomegranate: #c0392b;
$orange: #FE6516;

$border-color: $light-gray;
$bgColor: $xtra-light-gray;
$primaryColor: $midnight-blue;
$ecoColor : #009AE2;
$ecoPlusColor: #015291;
$busColor : #022744;
