.modal {
  background: $white;
  max-width: 800px;
  width: 100%;
  @media only screen and (max-width: 992px) {
    width: 90%;
  }
  .row {
    .col {
      padding: 0;
    }
  }
  .modal-content {
    padding: 2em 2em 0;
    display: flex;
    form {
      width: 100%;
      section {
        display: flex;
        .country-code {
          display: inline-block;
          flex: 2;
        }
        .phone-number {
          flex: 3;
          margin-left: .5em;
        }
      }
      .email {
        flex-basis: 50%;
        padding-right: 1em;
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
  .modal-footer {
    padding: 1em 2em 1.5em;
    background: transparent;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    a {
      text-transform: uppercase;
    }
  }
}
