// Flexible Dates listing
.flex-container {
  display: none;

  // Chosen Animation
  &.chosen {

    li.day:not(.chosen) {
      opacity: 0;
      transition-delay: 0 !important;
    }
    li.day {
      box-shadow: none!important;
      background: transparent;
      &.chosen {
        .flight-info {
          opacity: 0;
        }
      }
    }
  }
  &.active {
    &.return {
      // Make sure messaging is visible for return flight
      .messaging-container {
        opacity: 1;
      }
    }
  }
}

ul.flexible-listing {
  margin: 0;

  .header {
    border-bottom: 1px solid #EEE;
    font-size: 1.25em;
    padding: 1.5em 1em 1.25em;
    color: $dark-gray;
  }
  .flights {
    display: none;
  }
  &.active {
    > .day {
      transform: translateY(0);
      opacity: 1;
    }
  }
  > .day {
    border-bottom: 1px solid #EEE;
    display: block;
    -webkit-will-change: transform, opacity, padding, margin;
    will-change: transform, opacity, padding, margin;
    // Null transform hack
    -webkit-transform: translateZ(0);
    transition: all .3s cubic-bezier(.62,.28,.23,.99);
    transform: translateY(175%);
    opacity: 0;
    background: #FFF;

    &.open {
      margin: 1em 0.75em 2em;
      box-shadow: 0 4px 12px rgba(0,0,0, 0.5);
      border-radius: 2px;
      .flight-info {
        border-bottom: 1px solid #CCC;
      }
    }

    &:nth-child(4) {
      background: #f7f7f7;
    }
    &:last-child {

    }
    &.lowest {
      > .flight-info .price-container {
        color: #093;
      }
    }
    .flight {
      span.sep {
        margin: 0 0.45em;
      }
    }
    .flight-info {
      overflow: hidden;
      padding: 0.75em 0;
      display: block;
      .date {
        float: left;
        width: 20%;
        text-align: center;
        text-transform: uppercase;
        .day {
          font-size: 1.25em;
          line-height: 1;
          font-weight: 500;
        }
        .day-week {
          font-size: 0.75em;
          line-height: 1;
        }
        .month {
          font-size: 0.75em;
          line-height: 1;
        }
      }
      .flight-count {
        float: left;
        width: 60%;
        text-align: center;
        font-size: 1em;
        padding-top: 0.75em;
        font-weight: 300;
      }
      .price {
        float: left;
        width: 20%;
        text-align: center;
        line-height: 1.25;
        .starts-at {
          font-size: 0.875em;
          color: #999;
          font-weight: 300;
        }
        .price-container {
          font-size: 1.25em;
          font-weight: 500;
        }
      }
    }
  }
}
